@import url('https://fonts.googleapis.com/css?family=Lato:700,900|Open+Sans:400,600&display=swap');

/* .slider .slides li .caption {
    border-radius: 10px;
    background-color: rgba(69, 69, 69, 0.7);
    padding: 2px 15px;
    text-shadow: 2px 2px #000;
    pointer-events: none;
    width:auto;
} */

/* #region Global CSS */
h1{
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight:900;
}

h2,h3,h4,h5,h6{
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight:700;
}

body{
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

a{
    font-weight:600;
    transition: all 0.2s ease;
}

a:hover{
    color:#1e1e1e;
}

nav .brand-logo {
    display: inline-block;
    height: 100%;
}

nav .brand-logo>img {
    vertical-align: middle;
    margin-bottom: 10px;
}

nav .sidenav-trigger {
    float: right;
}

.shadowed{
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/* .footer__open-times {
    margin: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.footer__open-times>li {
    display: flex;
    width: 100%;
} */

.footer__open-times{
    width:80%;
    margin:auto;
}

.footer__open-times > tbody > tr{
    border:none;
}

.footer__open-times > tbody > tr > td{
    padding:0;
    text-align:center;
}

.footer-links-container > li{
    padding:5px 0;
}

.footer-links {
    color: #fff;
}

/* #endregion Global CSS */


/* #region Landing Page CSS */
.slides > li > .caption > h1,
.slides > li > .caption > h2,
.slides > li > .caption > h3,
.slides > li > .caption > h5{
    
    background-color:rgba(0,0,0,0.6);
    display:inline-block;
    border-radius:10px;
}

.slides > li > .caption > h1,
.slides > li > .caption > h2,
.slides > li > .caption > h3{
    padding:5px 30px;
}

.slides > li > .caption > h5{
    padding: 5px 10px;
}
.slides > li > .caption > hr{
    border-color:transparent;
}

.featured-product--img {
    padding: 0 15px;
}

.newsletter-section {
    /* border: 1px solid pink; */
    padding: 0;
}

.latest-newsletters-img {
    padding: 15px;
    margin-top: 7px;
}

.latest-newsletters-header {
    /* width:50%; */
    text-align: center;
}

#previousNewslettersCollapsible > li.active > .collapsible-header::after{
    content: " - ";
    margin-left:auto;
}

#previousNewslettersCollapsible > li:not(.active) > .collapsible-header::after{
    content: " + ";
    margin-left:auto;   
}
/* #endregion Landing Page CSS */

/* #region Products */
#productModal{
    min-height: 650px;
}

.product-img-container{
    padding:.75rem !important;
}

/* #endregion Products */

/* #region About us */
.history-text {
    margin: 0;
}

.history-img{
    margin: 90px auto auto;
}
/* #endregion About us */

/* #region Contact */

.contact__open-times{
    width:auto;
}

.contact__open-times > tbody > tr{
    border:none;
}

.contact__open-times > tbody > tr > td{
    display:inline-table;
}   

/* #endregion Contact */


/* #region Helpers */
.mt-45 {
    margin-top: 45px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-15 {
    margin-top: 15px;
}

.mr-a {
    margin-right: auto;
}

.mr-5 {
    margin-right: 5px;
}

.my-30 {
    margin: 30px auto;
}

.my-15 {
    margin: 15px auto;
}

.m-a {
    margin: auto;
}

.mt-30__m-a{
    margin:30px auto auto;
}

.m-0{
    margin:0;
}

.d-flex {
    display: flex;
}

.parent {
    position: relative;
}

.centered-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

.google-maps-container{
    padding-bottom:20%;
}

/* #region Typography */
.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

/* #endregion Typography */
/* #endregion Helpers */


/* #region Materialize CSS Overrides */

.slider .indicators .indicator-item{
    height:24px;
    width:24px;
}

.carousel .carousel-item > img{
    width:auto;
}

.carousel{
    min-height:500px;
}

.modal-trigger {
    cursor: pointer;
}

textarea.materialize-textarea {
    height: 6rem;
    border:1px solid #9e9e9e;
    margin-top:10px;
    padding:10px;
}

textarea.materialize-textarea:focus{
    border: 1px solid #26a69a;
}

.text-area-label{
    margin-left:10px;
}

.input-field > .active{
    margin-left:0;
}

.collapsible-header{
    background-color:inherit;
    font-size: 18px;
    font-weight:600;
}

blockquote{
    border-color:#40c4ff;
}

.pagination li.active{
    background-color:#40c4ff;
}


/* change colour of filled in check box */
.checkbox-blue-grey[type="checkbox"].filled-in:checked + span:not(.lever):after 
{
    border: 2px solid #40c4ff;  
    background-color: #40c4ff;
}

input[type=range]+.thumb{
    background-color: #40c4ff;
}

nav ul li.active {
    background-color: rgba(0,0,0,0.3);
}
/* #endregion Materialize CSS Overrides  */